<%= form_for(@illulive, :remote => (params[:action] == 'new' ? true : false)) do |f| %>

<!-- messages d'erreurs virés -->

  <fieldset class="fields">
    <div class="field">
      <%= f.label :titre, :class => 'required' %><br />
      <%= f.text_field :titre, :required => true %>
    </div>
    <div class="field">
      <%= f.label :commentaire, :class => 'required' %><br />
      <%= f.text_field :commentaire, :required => true %>
    </div>

      <div class="field">
        <%= f.label :attachment, :class => 'required' %><br />
        <%= f.file_field :attachment, :required => true %>
      </div>
    </fieldset>

    <%= f.submit 'Submit!', :disable_with => 'Envoi en cours...', :class => 'btn btn-primary btn-danger'%>

<% end %>
